@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(14, 83, 104);
    color: #fff;
}

#sidebar ul.components {
    padding: 30px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(14, 83, 104);
    background: #fff;
}

/* Need to use the !important rule to ensure that the formating 
 * for the drop-down text is correct:
 * https://www.w3schools.com/css//css_important.asp
*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(14, 83, 104);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 200px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {margin-left: -250px;}
    #sidebar.active {margin-left: 0;}
    #content {width: 100%;}
    #content.active {width: calc(100% - 250px);}
}